@if (((string)@ViewBag.IsSucesso).ToLower().Equals("false"))
{
    <div class="alert alert-danger alert-dismissible" role="alert" id="DivMensagensErro">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="~/images/errado.png" /><b>&nbsp;Erro!</b>
        <p style="padding-left:2em">@Html.Raw(@ViewBag.LblMensagem)</p>
    </div>
    <script>
        $('html, body').animate({ scrollTop: 0 }, 'fast');
    </script>
}
else if (((string)@ViewBag.IsSucesso).ToLower().Equals("true"))
{
    <div class="alert alert-success alert-dismissible" role="alert" id="DivMensagensSucesso">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img src="~/images/certo.png" />@Html.Label("LblMensagem", (string)@ViewBag.LblMensagem)
    </div>
    <script>
        setTimeout(function () {
            $("#DivMensagensSucesso").fadeOut("slow");
        }, 3000);
    </script>
}
<input type="hidden" id="HdnIdChaveCalendario" name="HdnIdChaveCalendario" value="@ViewBag.Id"></>
<script>
    try {
        DesativarProcessandoIndex();
        LimparCampos();
    } catch (e) {
        try {
            DesativarProcessandoCadastro();
        } catch (e) {

        }
    }
</script>