@model Modelo.Nucleo.Geral.GlResposta<Modelo.SchoolUp.Custom.CmSubPeriodo>

@{
    ViewBag.TituloPagina = "Bimestre";
    Layout = "~/Views/Shared/PaginaBase.cshtml";
    ViewBag.TituloSecaoHtml = "<i class='glyphicon glyphicon-book text-success'></i>&nbsp;&nbsp;Bimestre";
    ViewBag.Action = "Cadastro";
    ViewBag.View = "SubPeriodo";
}

<input asp-for="Dados.FirstOrDefault().Id" type="hidden" value="@ViewBag.Id" />
<div class="row clearfix">
    <div class="col-md-6">
        <div class="card">
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="input-group">
                            <p>
                                <b><label asp-for="Dados.FirstOrDefault().Nome" class="control-label col-indigo"></label></b>
                            </p>
                            <div class="form-line">
                                <input asp-for="Dados.FirstOrDefault().Nome" class="form-control" placeholder="Digite o nome" autofocus="" aria-required="true" />
                                <span asp-validation-for="Dados.FirstOrDefault().Nome" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <p>
                                <label asp-for="Dados.FirstOrDefault().IdPeriodo" class="control-label col-indigo"></label>
                            </p>
                            <div class="form-line">
                                <select asp-for="Dados.FirstOrDefault().IdPeriodo" class="form-control show-tick" asp-items="ViewBag.IdPeriodo" placeholder="@Modelo.SchoolUp.Recursos.Configuracoes.SelecioneUmItem">
                                    <option value="" selected="selected">@Modelo.SchoolUp.Recursos.Configuracoes.SelecioneUmItem</option>
                                </select>
                                <span asp-validation-for="Dados.FirstOrDefault().IdPeriodo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-6">
                        <div class="input-group">
                            <p>
                                <b><label asp-for="Dados.FirstOrDefault().De" class="control-label col-indigo"></label></b>
                            </p>
                            <div class="form-line">
                                <input asp-for="Dados.FirstOrDefault().De" placeholder="dd/mm/aaaa" class="form-control" aria-required="true" />
                                <span asp-validation-for="Dados.FirstOrDefault().De" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <p>
                                <b><label asp-for="Dados.FirstOrDefault().Ate" class="control-label col-indigo"></label></b>
                            </p>
                            <div class="form-line">
                                <input asp-for="Dados.FirstOrDefault().Ate" placeholder="dd/mm/aaaa" class="form-control" aria-required="true" />
                                <span asp-validation-for="Dados.FirstOrDefault().Ate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>