@model Modelo.SchoolUp.Custom.CmSenha

@{
    ViewData["Title"] = "Alterar Senha";
}


<div id="DivMensagem">
    @{
        Html.RenderPartial("JanelaMensagem");
    }
</div>

<div class="login-page ls-closed">
    <div class="card">
        <div class="card-header bg-info text-white text-center">
            <b>Altere sua senha</b>
        </div>
        <div class="card-body">
            <form asp-action="MudarSenha">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="col-md-12 mb-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">
                                    <i class="fas fa-lock text-info"></i>
                                </span>
                            </div>
                            <input asp-for="SenhaAntiga" class="form-control" type="password" placeholder="  Senha Atual" required="" aria-required="true" />
                        </div>
                    </div>
                    <span asp-validation-for="SenhaAntiga" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">
                                    <i class="fas fa-lock text-info"></i>
                                </span>
                            </div>
                            <input asp-for="Senha" class="form-control" type="password" placeholder="  Nova senha" required="" aria-required="true" />
                        </div>
                        <span asp-validation-for="Senha" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 mb-1">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend">
                                    <i class="fas fa-lock text-info"></i>
                                </span>
                            </div>
                            <input asp-for="ConfirmaSenha" class="form-control" type="password" placeholder="  Confirme sua senha" required="" aria-required="true" />
                        </div>
                        <span asp-validation-for="ConfirmaSenha" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="mx-auto">
                        <button id="BtnAlterar" value="Alterar" class="btn btn-info align-center col-md-12">
                            <i class="fas fa-check"></i> Alterar
                        </button>
                    </div>
                </div>
                @*<span asp-validation-for="MensagemErro" class="text-danger"></span>*@
            </form>
        </div>
    </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
